header {
    color: white;
    text-align: center;
    font-size: 30px;
    background-color: red;
    border-radius: 15px;
    border-bottom: 4px solid black;
    font-family: Verdana, Tahoma, sans-serif;
    
}


input {
    background-color: rgba(255, 255, 0, 0.246);
}

.employeeTableStyle, th, td {
    background-color: lightsalmon;
    border: 2px solid black;
}

